<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="./img/jon.jpg" alt="my pic">
        <br><br>
        <code>Yes! I'm Aegon Targaryeon</code>
    </div>
    {{>footer}}
</body>

</html>